<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2 align ="center">registration page</h2>
<form action="regdata" method="post">
    {% csrf_token %}
    <table align="center">
    <h3 style="color:red" align="center"></h3>

        <tr>
            <td>Username</td>
            <td><input type="text" name="txtusername"></td>
        </tr>
         <tr>
            <td>Useremail</td>
            <td><input type="email" name="txtemail"></td>
        </tr>
        <tr>
            <td>Userpassword</td>
            <td><input type="password" name="txtuserpassword"></td>
        </tr>
        <tr>
            <td>register</td>
            <td><input type="submit" name="register"></td>
        </tr>
    </table>
</form>

</body>
</html>